
:root {
    --levSpeed: 5s;
}
body{
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    overflow-y: hidden;
    transition: 0.6s all;
    position: relative;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: rgba(18, 18, 18, 0.75);
    z-index: 1;
    border-radius: 30px;
    color: white;
    transition: 0.3s all;
}

.overlay.hide {
    opacity: 0;
}
.overlay input {
    height: 3rem;
    border-radius: 15px;
    font-size: 2rem;
    width: 100%;
}

.overlay h2 {
    text-align: center;
    text-shadow: black 2px 2px 2px ;
}

#scoreCounter {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
    font-family: Inter,sans-serif;
    font-weight: 700;
    padding: 1rem;
    background: rgba(255, 255, 255);
    border-radius: 15px;

}

.shadow-box {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: white;
    text-shadow: black 2px 2px 2px ;
}
h2 {
font-size: 2.5rem;
}
p, span {
    font-size: 2rem;
}

#igra {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 5px;
    width: fit-content;
    background: #121212;
    border-radius: 30px;
    padding: 5px;
    animation-name: levitate;
    animation-duration: var(--levSpeed);
    animation-iteration-count: infinite;
}
#igra figure {
    aspect-ratio: 1;
    position: relative;
    width: calc(0.15 * min(100vw, 100vh));
    margin: 0;
    background: white;
}
#igra figure img {
    position: absolute;
    width: 95%;
    aspect-ratio: 1;
}
.x, .o {
    opacity: 0;
    transition: 0.3s all;
}
.iks figure:hover .x {
    opacity: 0.5;
}
.oks figure:hover .o {
    opacity: 0.5;
}

.oks figure .o.odigrano_o {
    opacity: 1;
}
#odigrano_o .x, #odigrano_x .o{
    opacity: 0;
}
#odigrano_x .x, #odigrano_o .o {
    opacity: 1;
}
#odigrano_x, #odigrano_o {
    animation-name: boioing;
    animation-duration: 0.3s;
}
@keyframes boioing {
    0%   { rotate: 3deg; scale: 1}
    50%  { rotate: -3deg; scale: 0.97}
    100% { rotate: 0deg; scale: 1 }
}
@keyframes levitate {
    0%   {transform: translateY(0)}
    50%  {transform: translateY(10px)}
    100% {transform: translateY(0)}
}

@keyframes shade {
    0%   {transform: translate(-55%, 0px); scale: 0.9}
    50%  {transform: translate(-50%, -10px);scale: 1}
    100% {transform: translate(-55%, 0px);scale: 0.9}
}

.shadow {
    position: absolute;
    background: #121212;
    opacity: 0.3;
    width: 90%;
    height: 15px;
    bottom: -50px;
    left: 50%;
    border-radius: 50%;
    animation-name: shade;
    animation-duration: var(--levSpeed);
    animation-iteration-count: infinite;
}


.pozadina_zelena {
    background: lightgreen;
}
.pozadina_crvena {
    background: crimson;
}

/* zaobljeni coskovi na igrici */
#igra figure:nth-child(1) {border-radius: 25px 0 0 0}
#igra figure:nth-child(3) {border-radius: 0 25px 0 0}
#igra figure:nth-child(7) {border-radius: 0 0 0 25px}
#igra figure:nth-child(9) {border-radius: 0 0 25px 0}


/* dugmad */
.dugmad {
    display: flex;
    flex-direction: column;
}
.btn {
   align-items: center;
   background-color: #fff;
   border-radius: 12px;
   box-sizing: border-box;
   color: #121212;
   cursor: pointer;
   display: inline-flex;
   flex: 1 1 auto;
   font-family: Inter,sans-serif;
   font-size: 2rem;
   font-weight: 700;
   justify-content: center;
   line-height: 1;
   margin: 10px;
   outline: none;
   padding: 1rem 1.2rem;
   text-align: center;
   text-decoration: none;
   transition: box-shadow .2s,-webkit-box-shadow .2s;
   white-space: nowrap;
   border: 0;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.btn:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.pobjednicki {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(18, 18, 18, 0.3);
    border-radius: 25px;
}
.row_to_column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 767px) {
    /* CSS rule for small screens */
    .row_to_column {
        flex-direction: column;
        align-items: center;
    }
}
